.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header, .content, .footer {
  padding: 0 20px;
}

// .header {
// }

.content {
  flex-grow: 1;
}

.footer {
  position: sticky;
  bottom: 0;
}