.card-container {
  display: flex;
  flex-direction: column;
  padding:15px;
  margin: 10px;
  width: 30vw;

  &:not(:last-child) {
    border-bottom: 1px solid;
  }
  
  @media (max-width: 720px) {  
    width: calc(100% - 20px);
  }
}