.card-container {
  display: flex;
  flex-direction: column;
  padding:15px;
  margin: 20px 0;
  width: 30vw;
  border-radius:10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
  @media (max-width: 720px) {  
    width: calc(100% - 40px);
  }
}